@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.html {
    width: 100%;
}
body{
  background-color: #000;  
  margin: 0;
  padding: 0;
  width: 100%;
}
.container .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    z-index: 1000000;
}
.container .header img{
    width: 13%;
}

.container .header a{
    color: #fff;
    text-decoration: none;
    background-color: #e50914;
    padding: 8px 18px;
    border-radius: 5px;
}
.board{
    width: 100%;
    height: 100vh;
    background: url(NG.jpg) no-repeat;
     background-color: rgba(17, 17, 17, 0.716);
     background-blend-mode: multiply;
    outline: 1px solid #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.6rem solid #111 ;
}

.board .box{
    position: absolute;
    top: 55%;
    left: 50%;
    outline: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.board .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.board .box .heading h2{
    font-size: 2.8rem;
    color: #fff;
    
    width: 80%;
}

.board .box .heading h5{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem 0;
}

.board .box .heading p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}
.board .box .search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    height: 3rem;
    justify-content: center;
    align-items: center;
}
.board .box .search input{
    font-size: 14px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    border-radius: 2px;
    padding: 1rem;
    width: 70%;
    height: 100%;
    align-items: center;
}
.board .box .search a{
    text-decoration: none;
    text-transform: none;
    color: #fff;
    font-weight: 400;
    border-radius: 2px;
    background: #e50914;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    padding: 1rem;
}
.part1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111 ;
}

.part1 .speech{
    width: 40%;
}

.part1 .speech h1{
    font-size: 3.3rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part1 .speech p{
    font-size: 1.6rem;
    color: #fff;
}

.part1 .img{
    width: 45%;
}

.part1 .img img{
    width: 100%;
}

.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111 ;
}
.part2 .speech{
    width: 48%;
}

.part2 .speech h1{
    font-size: 2.8rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}
.part2 .speech p{
    font-size: 1.6rem;
    color: #fff;
}
.part2 .img{
    width: 40%;
}
.part2 .img img{
    width: 100%;
}
.part1{
    font-size: 2.5rem;
    justify-content: left;
    align-items: left;
}
.kids{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111 ;
}

.kids .speech{
    width: 48%;
}

.kids .speech h1{
    font-size: 2.8rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.kids .speech p{
    font-size: 1.6rem;
    color: #fff;
}

.kids .img{
    width: 40%;
}

.kids .img img{
    width: 100%;
}

.list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: auto;
}

.list h1{
    color: #fff;
    font-size: 2.5rem;
    padding: 3rem 0 4rem 0;
}

.title{
    background: #303030;
    padding: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
    width: 70%;
}
.icon{
    width: 20px;
    position: relative;
}
.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}
.icon::after{
    transform: rotate(90deg);
    transition: 0.5s linear;
}
.text{
    background: #303030;
    line-height: 35px;
    margin: 3px 0;
    color: #fff;
    opacity: 0;
    height: 0;
    font-size: 1.7rem;
    font-weight: 400;
}
.item:target .text{
    opacity: 1;
    height: auto;
    padding: 0.8em 2.2em 0.8em 1.2em;
    margin: 0;
    margin-bottom: 1px;
    width: 70%;
    border-top: 2px solid #000;
    
}
.item:target .icon::before {
    transform: rotate(45deg);
}
.item:target .icon::after {
    transform: rotate(-45deg);
}
.board2 {
    border-bottom: 0.6rem solid #111;
}
.board2 .box{
  margin: 4rem 0;
}
.board2 .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.board2 .box .heading h2{
    font-size: 3rem;
    color: #fff;
    letter-spacing: 2px;
    width: 80%;
}
.board2 .box .heading h5{
    font-size: 1.625rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem 0;
}

.board2 .box .heading p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}
.board2 .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.board2 .box .search input{
    font-size: 14px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    border-radius: 2px;
    padding: 10px 10px 0;
    min-width: 400px;
    height: 60px;
    align-items: center;
}
.board2 .box .search a{
    text-decoration: none;
    text-transform: none;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background: #e50914;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    font-size: 1.625rem;
    line-height: 60px;
    min-width: 210px;
    padding: 0 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 4rem 0;
}
.footer .one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 25%;
}
.footer .one li{
    padding: 0;
    font-size: 1em;
    margin: 0 auto;
    width: 100%;
}
.footer .one li a{
    color: #737373;
    text-decoration: none;
    background-color: transparent;
}
.footer .one li a:hover{
    border-bottom: 1px solid #737373;
}
.footer .two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 25%;
}
.footer .two li{
    padding: 0;
    font-size: 1em;
    margin: 0 auto;
    width: 100%;
}
.footer .two li a{
    color: #737373;
    text-decoration: none;
    background-color: transparent;
}
.footer .two li a:hover{
    border-bottom: 1px solid #737373;
}

@media screen and (max-width: 768px){
    
    .container .header{
        padding: 20px 50px;
    }
    .container .header img{
        width: 20%;
    }

    .board .box .heading h2{
        font-size: 3rem;
        letter-spacing: 1.5px;
        width: 100%;
    }
    
    .board .box .heading h5{
        font-size: 1.5rem;
        padding: 0.8rem 0;
    }
    
    .board .box .heading p{
        font-size: 1.1rem;
        padding: 13px 0;
        padding-bottom: 17px;
    }

    .board .box .search{
        flex-direction: column;
    }
    .board .box .search input{
        max-width: 300px;
    }
   
}

@media screen and (max-width: 800px) {
    .board .box .search a{
        text-decoration: none;
        text-transform: none;
        color: #fff;
        font-weight: 400;
        letter-spacing: 0.1px;
        border-radius: 2px;
        background: #e50914;
        box-shadow: 0 1px 0 rgba(0,0,0,0.45);
        font-size: 1.625rem;
        line-height: 50px;
        max-width: 210px;
        padding: 0 28px;
    }

    .part1 {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 2rem 1rem;
        text-align: center;
    }
    
    .part1 .speech{
        width: 80%;
        margin: 20px 0 30px 0;
    }
    
    .part1 .speech h1{
        font-size: 3.2rem;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    
    .part1 .speech p{
        font-size: 1.5rem;
        
    }
    
    .part1 .img{
        width: 80%;
    }
    
    .part2{
        flex-direction: column;
        justify-content: center;
        padding: 2rem 1rem;
        text-align: center;
    }
    .part2 .speech{
        width: 80%;
        margin: 20px 0 30px 0;
    }
    
    .part2 .speech h1{
        font-size: 3.2rem;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    .part2 .speech p{
        font-size: 1.5rem;
    }
    .part2 .img{
        width: 80%;
    }

    .kids{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 2rem 1rem;
        text-align: center;
    }
    
    .kids .speech{
        width: 80%;
        margin: 20px 0 30px 0;
    }
    
    .kids .speech h1{
        font-size: 3.2rem;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    
    .kids .speech p{
        font-size: 1.5rem;
    }
    
    .kids .img{
        width: 80%;
    }
}